{{!-- homepage of all users posts --}}
<div class="row align-center m-3 border">
    {{#each posts as |post|}}
    <div class="m-4 border">
        <div class="border row m-2">
            <header> <a href="/posts/{{post.id}}">{{post.title}}</a> </header>
            {{post.entry}}
            <p>Posted By: {{post.user.name}} on {{format_date post.createdAt}}</p>
        </div>

        <div>
            {{#each post.comments}}
            <p class="m-2">{{entry}}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>